
.home>div {
  overflow: hidden;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.plans-container {
  height: 730px;
  justify-content: flex-end;
  align-items: center;
}

.reactor-container {
  justify-content: flex-end;
  align-items: flex-start;
  height: 900px;
  padding-left: 40px;
}

.materials-container {
  justify-content: flex-end;
  height: 700px;
  padding-left: 80px;

}

.crops-container {
  height: 700px;
  align-items: center;
  justify-content: flex-end;
}

div>p {
  font-size: 24px;
}

.home p {
  padding: 30px;
  color: white;
  background-color: rgb(10, 18, 27);
}